* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    height: 100vh;
    background-color: #20293A;
    color: #E3E8EF;
}
.quote_wrapper {
    background-color: #4a55674f;
    background-image: url(resources/bg-image-random-quote.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 700px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 50px auto 30px;
    border-radius: 20px;
}
.author, .quote {
    max-width: 700px;
}
.quote {
    margin-top: 30px;
    font-size: 24px;
    text-align: center;
}
.author {
    font-size: 16px;
    font-weight: bold;
}
.tags_wrapper {
    display: flex;
    gap: 5px;
    margin-top: 15px;
}
.tag {
    font-size: 10px;
    font-weight: bold;
    color: #AEB0FF;
    border: 2px solid #AEB0FF;
    padding: 5px;
    border-radius: 10px;
}
.button_wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
}
button {
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #4a55674f;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #AEB0FF;
}